$services-background-gradient: linear-gradient(180deg, #f2f4f8, #fff);
$services-text: #1f2631;
$main-text: #070f1a;
$clients-background: #f2f4f8;

$main: white;
$default: #f8f9fa;
$additional: #95979b;
$prime: #0c173c;
$green: #4be2c8;
$blue: #2ac8e8;
$yellow: #ffc453;
$orange: #ff6635;
$pink: #ff6489;
$purple: #5364ff;

//additional colors:
$case-studies-bg: #f2f4f8;
$main-title: #070f1a;
$main-description: #1f2631;

$green-background: linear-gradient(90deg, $green, $blue);
$orange-background: linear-gradient(90deg, $yellow, $orange);
$pink-background: linear-gradient(90deg, $orange, $pink);

$shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
