.categories {
  margin: $section-gap auto $title-gap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    z-index: 10;

    &-wrapper {
      width: 50px;
      height: 50px;
      margin: 0;

      .icons-wrapper {
        background-color: $default;
      }
    }

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }
  }
}

.category {
  &-item {
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .icons-wrapper-icon {
      font-size: 20px;
    }

    p {
      width: 100%;
      font-weight: 500;
      font-size: 20px;
      margin: 0 16px;
    }
  }
}

@media only screen and (max-width: $medium) {
  .categories {
    &-item {
      &-wrapper {
      }
    }

    .category {
      &-item {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .categories {
    margin: $section-gap auto 0;
  }
}
