.contact {
  margin-left: auto;
  margin-right: auto;
  max-width: $main-grid;
  width: calc(100% - 100px);
  margin-bottom: 70px;
  padding: 60px 40px 40px;
  position: relative;
  .indicator {
    top: -120px;
  }
  &-flex {
    width: 100%;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }
  &-bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: $green-background;
    border-radius: 20px;
  }
  &-left {
    position: relative;
    * {
      color: white;
    }
  }

  &-info {
    h3 {
      font-size: 40px;
      font-weight: 500;
      line-height: 35px;
      margin-bottom: $content-gap;
    }

    &-block {
      margin: 0 0 20px;

      h4 {
        font-weight: 500;
      }

      p {
        font-size: 18px;
      }
    }
  }
  &-form {
    box-shadow: -1px 7px 50px -10px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: -1px 7px 50px -10px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: -1px 7px 50px -10px rgba(0, 0, 0, 0.45);
    width: 500px;
    background: white;
    margin-bottom: -110px;

    padding: 50px;
    border-radius: 20px;
    .form-submit {
      .submit {
        border: solid 2px #002e63;
        color: #002e63;

        &:hover {
          background: #002e63;
          color: white;
        }
      }
    }
    &-flex {
      display: flex;
      flex-wrap: wrap;
      .input-container {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        label {
          color: #070f1a;
        }
        .input {
          border: 2px solid #f2f4f8;

          color: #333333;
          font-size: 16px;

          &:focus {
            border: 2px solid #002e63;
          }
          &::placeholder {
            opacity: 0.6;
          }
        }
        .textarea {
          height: 150px;
          resize: none;
          padding-top: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: $mobile) {
  .contact {
    .form-flex {
      .input-container {
        &:nth-child(1),
        &:nth-child(2) {
          width: calc(50% - 10px);
        }
        &:nth-child(2) {
          margin-left: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .contact {
    &-left {
      width: 50%;

      h2 {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .contact {
    width: calc(100% - 20px);
    padding: 40px 20px;

    &-flex {
      flex-direction: column;
    }

    &-left {
      width: 100%;
      text-align: center;

      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 14px;
      }
    }
    &-form {
      padding: 20px;
      padding-bottom: 40px;
      margin: 0px;
      margin-top: -60px;
      width: 100%;
      bottom: -100px;

      .form-submit {
        .submit {
          &:hover {
            background: transparent;
            color: #002e63;
          }
        }
      }
    }
  }
}
