.home-services {
  &-header {
    .text {
      font-size: 1.25rem;
    }
    p {
      font-size: 1.1rem;
      max-width: 800px;
    }
  }
  &-title {
    max-width: 700px;
    padding: 0 0 10px;
  }
  &-list {
    margin-top: 50px;

    .grey-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-item {
      width: calc(100% / 3 - 10px);
      display: flex;
      flex-direction: column;
      padding: 0 12px;

      &-title {
        .img {
          width: auto;
          height: 56px;
          margin-bottom: 14px;

          img {
            object-position: left;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h4 {
          font-size: 20px;
          font-weight: 500;
          color: #404350;
        }
      }

      &-body {
        margin-top: 10px;
        flex: 1;

        p {
          color: #404350;
          font-weight: 300;
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .home-services {
    h3 {
      line-height: 1.4;
      font-size: 28px;
    }
    &-list {
      .grey-box {
        height: auto;
      }
    }
  }
}
