.home-team {
  &-content {
    text-align: center;
  }
  &-list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    max-width: $main-grid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .home-team-member {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 300px;
      width: calc(100% / 4 - 20px);
      margin: 0 10px 20px;

      .img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        top: 0px;

        img {
          border-radius: 20px;
          object-position: center;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-content {
        margin-top: auto;
        margin-bottom: 10px;
        background: white;
        padding: 10px 10px 10px 20px;
        position: relative;
        width: calc(100% - 20px);
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;

        &-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        h6 {
          font-size: 14px;
          font-weight: 600;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .home-team-list .home-team-member {
    width: calc(100% / 3 - 20px);
  }
}

@media only screen and (max-width: $mobile) {
  .home-team-list {
    margin-top: 40px;
    .home-team-member {
      width: calc(50% - 7px);
      margin: 0 0 14px;
      height: 50vw;

      &-content {
        h6 {
          font-size: 13px;
        }
        p {
          font-size: 12px;
        }
      }
      &:nth-child(even) {
        margin-left: auto;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .home-team-list {
    .home-team-member {
      height: 58vw;
      &-content {
        h6 {
          font-size: 2.4vw;
        }
        p {
          font-size: 2.2vw;
        }
      }
    }
  }
}
